# IDE
.idea
.vscode

# Build outputs
dist
dist-zip

# Dependencies
node_modules

# Pack files
*-pp-dev-*.*.*.tgz
*-pp-dev-latest.tgz

# Backups
backups

# Environment
.env
!.env.example

# PP Dev metadata
.pp-dev-meta/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

